<!-- app/views/westeros_search/index.html.erb -->

<h1> <%= @house[:name] %> has <%= @members.count %> members</h1>

<% @members.each do |member| %>
  <ul class='members'>
   <li>Member name: <%= member.name %></li>
   <li>Member ID: <%= member.id %></li>
  </ul>
<% end %>
